

body{
	background: rgb(14,0,28);
	background: linear-gradient(90deg, rgba(14,0,28,1) 0%, rgba(1,0,2,1) 15%, rgba(0,0,0,1) 85%, rgba(14,0,28,1) 100%); 
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 25px;
	
}

p{
	font-family:Arial, Helvetica, sans-serif;
	color:white;
}

h1,
h2,
h3,
h4,
h5,
h6{
	color:white;
}


.defbox{  
	background:url("https://raw.githubusercontent.com/vinagava/vinagava/master/Deficit/Static1kblack.gif");
	border: 1px solid green;
	height:150px;
	width:800px;
	margin-left:10%;
	margin-right:10%;
	color:white;
	text-align:center;
	z-index:1;
}

.boxtext{
   text-shadow:3px 3px 20px #b9b9b9;
   font-family: helvetica;
   font-size: 80px;
   font-weight:bold;
   margin: 25px 25px;   
   display:ruby;
  margin-left:50px;
  margin-right:50px;
  margin-top:50px;
}

/*Hovering Text*/
.hover {
        -webkit-animation: action 2s ease-in-out infinite  alternate;
        animation: action 2s ease-in-out infinite  alternate;
}

.hover2 {
        -webkit-animation: action2 2s ease-in-out infinite  alternate;
        animation: action2 1600ms ease-in-out infinite  alternate;
} 


.hover3 {
        -webkit-animation: action3 3s ease-in-out infinite alternate;
        animation: action3 3s ease-in-out infinite alternate;
}

/*Pills*/
.pill{
	top:-50px;
  animation: pillspin 24s linear infinite;
}

.pill2{
	top:-50px;
  animation: pillspin 26s linear infinite;
  animation-delay:500ms;
}

@keyframes pillspin{  
  0%   {-webkit-transform: rotate(0deg);}
	50%  {-webkit-transform: rotate(180deg); }
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes action {
        0% {transform: translateY(-0.5em);}
      100% { transform: translateY(-0.3em); }  
    }

@keyframes action2 {
        0% { transform: translateY(-0.5em);}
        100% { transform: translateY(-0.35em); }
}

@keyframes action3 {
        0% { transform: translateY(-0.6em);}
        100% { transform: translateY(-0.3em); }
}
