
body{
	background: rgb(14,0,28);
	background: linear-gradient(90deg, rgba(14,0,28,1) 0%, rgba(1,0,2,1) 15%, rgba(0,0,0,1) 85%, rgba(14,0,28,1) 100%);
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 25px;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 

p,
div,
h1,
h2,
h3,
h4,
h5,
h6{
	color:white;
	font-family:Arial, Helvetica, sans-serif;
}

.container {
	width: 90%;
	margin: 0 auto;
}

header {
  /*background: #55d6aa;*/
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  /*padding: 10px 0;*/
}

/*Header Name*/
h1 a{
  text-decoration:none;
  text-transform:uppercase;
  font-size:24px;
  margin: auto auto auto -45px;
  color:#DDDDDD;
}

/*Header Description*/
h1 a2{
  text-decoration:none;
  /*text-transform:uppercase;*/
  font-size:12px;
  margin: auto auto auto 15px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 15px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight:bold;
  color:white;
	font-family:Arial, Helvetica, sans-serif;
}

nav a:hover {
  color: #AFAFAF;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.defbox{  
	background:url("https://raw.githubusercontent.com/vinagava/vinagava/master/Deficit/Static1kblack.gif");
	border: 1px solid green;
	height:150px;
	width:800px;
	/*margin-left:10%;
	margin-right:10%;*/
  	margin: auto;
  	display: block;
	color:white;
	text-align:center;
	z-index:1;
}

.boxtext{
   text-shadow:3px 3px 20px #b9b9b9;
   font-family: helvetica;
   font-size: 80px;
   font-weight:bold;
   margin: 25px 25px;   
   /*display:ruby;*/
   display: inline-flex;
  margin-left:50px;
  margin-right:50px;
   /*margin-top:50px;*/
    margin-top: -0.5%;
  letter-spacing: 30px;
}

/*Hovering Text*/
.hover {
        -webkit-animation: action 2s ease-in-out infinite  alternate;
        animation: action 2s ease-in-out infinite  alternate;
}

.hover2 {
        -webkit-animation: action2 2s ease-in-out infinite  alternate;
        animation: action2 1600ms ease-in-out infinite  alternate;
} 


.hover3 {
        -webkit-animation: action3 3s ease-in-out infinite alternate;
        animation: action3 3s ease-in-out infinite alternate;
}

/*Pills*/
.pill{
  animation: pillspin 24s linear infinite;
}

.pill2{
  animation: pillspin 26s linear infinite;
  animation-delay:500ms;
}

@keyframes pillspin{  
  0%   {-webkit-transform: rotate(0deg);}
	50%  {-webkit-transform: rotate(180deg); }
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes action {
        0% {transform: translateY(-0.7em);}
      100% { transform: translateY(-0.5em); }
    }

@keyframes action2 {
        0% { transform: translateY(-0.6em);}
        100% { transform: translateY(-0.45em); }
}

@keyframes action3 {
         0% { transform: translateY(-0.75em);}
        100% { transform: translateY(-0.5em); }
}
